@model PageGroup
@{
    ViewData["Title"] = "Details";
}

@*<div class="row">
    <div class="col-md-6">
        <h2>جزییات گروه خبری</h2>
    </div>
    <div class="col-md-6">
        <p class="pull-left">
            <a href="/admin/pagegroups" class="btn btn-primary">بازگشت به صفحه اصلی</a>
        </p>
    </div>
</div>
<hr />*@
<h2>جزییات گروه خبری @Model.PageGroupTitle</h2>
<hr />
<p>
    <a class="btn btn-primary" href="/admin/pagegroups/index">بازگشت به صفحه گروه های خبری</a>
</p>
<hr />
@*<table>
    <thead>
        <tr>
            <th>عنوان خبر</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Pages)
        {
            <tr>
                <td>@item.PageTitle</td>
            </tr>
        }
    </tbody>
</table>*@
