@using MyCMS.ViewModels.Users
@model List<IndexViewModel>
@{
    ViewData["Title"] = "Index";
}

<h2>لیست اعضا</h2>
<hr />
<table class="table">
    <thead>
        <tr>
            <th>نام کاربری</th>
            <th>ایمیل</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Username</td>
                <td>@item.Email</td>
            </tr>
        }
    </tbody>
</table>
