@using MyCMS.ViewModels.Account
@model ActiveEmailViewModel
<div class="alert alert-success" style="direction: rtl; padding: 20px">
    <h2>کاربر عزیز</h2>
    <p>با تشکر از ثبت نام شما ، جهت ادامه کار میبایست حساب کاربری خود را فعال کنید</p>
    <p>
        <a class="btn btn-primary" href="@Model.Link">فعالسازی حساب کاربری</a>
    </p>
</div>
