
@{
    ViewData["Title"] = "AccessDenied";
}

<div class="alert alert-danger">
    <h3>عدم دسترسی</h3>
    <hr />
    <p>
        متاسفانه شما اجازه دسترسی به این صفحه را ندارید.
    </p>
    <p>
        <a class="btn btn-primary" href="/home/index">بازگشت به صفحه اصلی سایت</a>
    </p>
</div>

