@model IEnumerable<MyCMS.DomainClasses.Page.Page>
<section class="last-news-section border-radius margin-top-60">
    <header><i class="icons icon-doc-2"></i>  <h3>آخرین آخبار ارسالی</h3> </header>
    <ul>
        @foreach (var item in Model)
        {
            <li>
                <img class="border-radius" src="/Images/@item.ImageName">
                <h2> <a href="/news/@item.PageId"> @item.PageTitle </a></h2>
                <p>@item.ShortDescription</p>
                <span class="date-publish"><i class="fa fa-calendar"></i> انتشار : @item.CreatedDate.ConvertToPersianDate() </span>
                <a href="" class="more-link"><i class="icons icon-more"></i></a>
            </li>
        }

        @*<li>
            <img class="border-radius" src="img/thumb.png">
            <h2> <a href=""> عنوان خبر در این ناحیه قرار میگیرد </a></h2>
            <p>
                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است ...
            </p>
            <span class="date-publish"><i class="fa fa-calendar"></i> انتشار : 15/08/1395 </span>
            <a href="" class="more-link"><i class="icons icon-more"></i></a>
        </li>
        <li>
            <img class="border-radius" src="img/thumb.png">
            <h2> <a href=""> عنوان خبر در این ناحیه قرار میگیرد </a></h2>
            <p>
                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است ...
            </p>
            <span class="date-publish"><i class="fa fa-calendar"></i> انتشار : 15/08/1395 </span>
            <a href="" class="more-link"><i class="icons icon-more"></i></a>
        </li>*@
    </ul>
</section>